<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566038258838-aniprnn4e9b5iimjb3lt58to53kurjhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566038258838-aniprnn4e9b5iimjb3lt58to53kurjhu</string>
	<key>API_KEY</key>
	<string>AIzaSyCFkV_JExEceeUEg5sMs8_wozXQ8Tfig3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>566038258838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AzimovSeegeyFlasChatIos13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-1edc9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-1edc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566038258838:ios:98f0904c6051e47469ceb7</string>
</dict>
</plist>